.filesAddressStyle{
  display: flex;
  flex-direction: row;
}

.filesAddressStyle div{
  border: 1px dotted black;
  padding: 10px;
  cursor: pointer;
  border-right: none;
}

.filesAddressStyle div:last-child{
  border-right: 1px dotted black;
  
}

.filesAddressStyle div:hover{
  background-color: #e0ecfb;
}